body {
    background-color: rgb(27,35,39);
  }

.buttonBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
.save-button{
    padding: 16px;
    margin: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgb(180,190,173);
    color: rgb(252,255,255);
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(247, 244, 244, 0.1), 0 6px 12px rgba(240, 239, 239, 0.12);
    font: bold;
}

.floating-button {
    width: 60px;
    height: 60px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgb(180,190,173);
    color: rgb(252,255,255);
    border-radius: 100%;
    box-shadow: 0 8px 16px rgba(247, 244, 244, 0.1), 0 6px 12px rgba(240, 239, 239, 0.12);
}

.save-button:hover {
    background-color: rgba(139, 123, 123, 0.29);
    color: rgb(252,255,255);
  }

.floating-button:hover {
    transform: scale(1.25);
    transition: transform .75s;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}
/* I need to find the blog tutorial where I found this with the car demo */
.floating-button.saving:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: appear 1s steps(7, end) forwards;
    font-weight: bold;
    font: 2em;
}

@keyframes appear {
    0% {
        content: "S";
    }
    10% {
        content: "Sa";
    }
    20% {
        content: "Sav";
    }
    30% {
        content: "Savi";
    }
    40% {
        content: "Savin";
    }
    50% {
        content: "Saving";
    }
    60% {
        content: "Saving.";
        }
    70% {
        content: "Saving..";
    }
    80% {
        content: "Saving...";
    }
    90% {
        content: "Saving....";
    }
    100% {
        content: "Saved!";
    }
}