.navbar { 
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* position: absolute; */
    top: 0; 
    left: 0; 
    right: 0;
    padding: 8px;
    background-color: rgb(180,190,173);
    color: rgb(20,20,20); 
    justify-content: space-between;
    z-index: 999 ;
}

.navbar .navbar-title-section { 
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
}

.navbar .navbar-title-section .navbar-menu-button {
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.navbar .navbar-link-section {
    display: flex;
    align-items: center;
    gap: 32px;
}

.fixed {
    position: fixed;
}
