body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(27,35,39);
    color: rgb(252,255,255);
    margin: 0px;
    padding: 0 20% 11.67% 20%;
}

h1{
    text-align: center;
    font-weight: bold;
}

.codeContainer{
    background-color: rgb(40,54,59);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 16px;
    margin: 0px;
}

.codeContainer #carImageDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}